set_io clk_16m  93
set_io addr_in[0]  11
set_io addr_in[1]  12
set_io addr_in[2]  19
set_io addr_in[3]  20
set_io addr_in[4]  21
set_io addr_in[5]  22
set_io addr_in[6]  23
set_io addr_in[7]  24
set_io addr_in[8]  25
set_io addr_in[9]  26
set_io addr_in[10] 28
set_io addr_in[11] 29

set_io data[0]  1
set_io data[1]  2
set_io data[2]  3
set_io data[3]  4
set_io data[4]  7
set_io data[5]  8
set_io data[6]  9
set_io data[7]  10

set_io q3 44
set_io _reset 47
set_io fclk 43
set_io rw 52
set_io _iosel 120
set_io _iostrobe 49

set_io _en245 144
set_io _devsel 48

set_io btn    101

set_io _nmi 37
set_io _irq 38
set_io _inh 39
set_io _rdy 41
